
$south-asia-color: #FFC00D;
$persia-color: #AD4D2B;
$himalayas-color:#AD4D2B;
$southeast-asia-color:#552E86;
$china-color:#55BA62;
$korea-color:#FFC00D;
$japan-color:#AD4D2B;

$colors : (
	south-asia: $south-asia-color,
	persia: $persia-color,
	himalayas: $himalayas-color,
	southeast-asia: $southeast-asia-color,
	china: $china-color,
	korea: $korea-color,
	japan: $japan-color
);

$textcolors : (
	south-asia: #FFF,
	persia: #FFF,
	himalayas: #FFF,
	southeast-asia: #FFF,
	china: #FFF,
	korea: #FFF,
	japan: #FFF
);

$galleries: south-asia persia himalayas southeast-asia china korea japan;

@each $gallery in $galleries{
	.#{$gallery}{
	  background-color: map-get($colors, $gallery);
	  color: map-get($textcolors, $gallery);
	}
	
	.#{$gallery}.bar-header {
	  > .back-button {
	    color: map-get($textcolors, $gallery);
	  }
	}
}

.gallery-list-item, .task-list-item  {
	font-size: 1.3em;
	font-family: "Helvetica Neue";
	background:white;
	border-radius: 8px;
	margin-top:3%;
	text-align: center;
	padding: 6%;
	border: 1px solid;
}

.task-list-item {
	margin-top:0px; 
}

@each $gallery in $galleries{
	
	.#{$gallery}-arrow-up{
	  	width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid map-get($colors, $gallery);
		background-color: white;
		margin: 0 auto;
		margin-top:3px;
	}
	
	.gallery-list-item.#{$gallery}, .task-list-item.#{$gallery} {
		color: map-get($colors, $gallery);
	}
	
	.gallery-list-item.active.#{$gallery} {
		background-color: map-get($colors, $gallery);
		color:white;
	}
	
	.gallery-list-item.#{$gallery}:active, .task-list-item.#{$gallery}:active{
		background-color: map-get($colors, $gallery) + #444;
	}
	
}