<ion-view view-title="{{'TITLE' | translate}}">
  <ion-nav-bar class="{{vm.gallery.ShortName}}">
    <ion-nav-back-button>{{'BACK' | translate}}</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="fill-parent has-footer" scroll="true">
  
      <overlay-canvas 
        userimgurl="vm.imageData" 
        overlayimgurl="vm.task.FrameFilename" 
        submit="vm.submit" 
        share="vm.share"
        share-to-instagram="vm.shareToInstagram">
      </overlay-canvas>

  </ion-content>
</ion-view>
