<div class="fill-parent">
	<div class="frame">
		<canvas id="canvas"></canvas>
		<img id="selfie" src="{{userimgurl}}" />
		<a class="button button-positive share-image ng-hide" ng-show="imageReady" ng-click="shareProxy()"><i class="icon ion-share"></i></a>
	</div>
	<a class="actions actions-bottom" ng-show="!imageReady" ng-click="samuraize()">{{'SET_IMAGE' | translate}}</a>
	<a class="actions actions-bottom ng-hide" ng-show="imageReady" ng-click="reset()">{{'RESET' | translate}}</a>
<a class="actions actions-bottom  ng-hide" ng-show="imageReady" ng-click="submitProxy()">{{'SAVE_AND_FINISH' | translate}}</a>
</div>