<ion-view view-title="{{'TITLE' | translate}}">
	<ion-nav-bar class="gallery-header">
	</ion-nav-bar>
	<ion-content class="padding text-center has-footer">
		<section class="ng-hide" ng-show="vm.task.IsComplete">
			<div class="speech">
				<h2>{{'CORRECT' | translate}}</h2>
				<div>
					<p>{{vm.makingProgressMessage}}</p>
				</div>
				<div class="ng-hide" ng-show="vm.task.SuccessMessage">
					<p>{{vm.task.SuccessMessage}}</p>
				</div>
			</div>
			<div class="actions">
				<a ng-click="vm.continue()">{{'CONTINUE' | translate}}</a>
			</div>
			<div>
				<img class="sprite" src="img/rhino_correct_answer.png" class="text-center"></img>
			</div>
		</section>
		<section class="ng-hide" ng-show="!vm.task.IsComplete">
			<div class="speech">
				<h2>{{'OOPS' | translate}}</h2>
				<p>{{'INCORRECT_MESSAGE' | translate}}</p>
				<div ng-show="vm.task.TryAgainText">
					<p>{{vm.task.TryAgainText}}</p>
				</div>
			</div>
			<div class="actions">
				<a ng-click="vm.goBackToTask()">Yes</a>
				<a ui-sref="galleries">No</a>
			</div>
		</section>
	</ion-content>
	<game-footer></game-footer>
</ion-view>