<ion-view view-title="{{'TITLE' | translate}}">
  <ion-nav-bar class="gallery-header"></ion-nav-bar>
  <ion-header-bar class="header bar-subheader">
    <div ng-show="!vm.shownGallery" class="instructions ng-hide">{{'GALLERIES_INSTRUCTIONS_1' | translate}}</div>
    <div ng-hide="!vm.shownGallery" class="instructions ng-hide">{{'GALLERIES_INSTRUCTIONS_2' | translate}}</div>
  </ion-header-bar>
  <ion-content class="padding has-footer" has-footer="true">
    <div class="galleries" ng-repeat="gallery in vm.galleries">
      <div id="{{gallery.ShortName}}-task-list" class="gallery-list-item {{gallery.ShortName}}" ng-click="vm.toggleGallery(gallery)" ng-class="{active: vm.isGalleryShown(gallery)}">
        <div ng-class="{gray: vm.isInactive(gallery), dim: vm.isInactive(gallery)}" delegate-handle="{{gallery.ShortName}}">
          {{gallery.Name}}
        </div>
      </div>
      <div ng-repeat="task in gallery.tasks" ng-show="vm.isGalleryShown(gallery)">
        <div ng-class="{dim: task.IsComplete}">
          <div class="{{gallery.ShortName}}-arrow-up"></div>
          <div class="task-list-item {{gallery.ShortName}}" ng-click="vm.goToTask(gallery.Name, task)">
            <a>{{task.Title}}</a>
            <p class="points">{{task.Points}} {{'POINTS' | translate}} <i ng-show="task.IsComplete" class="icon ion-checkmark-round"></i></p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <game-footer></game-footer>
</ion-view>
