<ion-view view-title="{{'TITLE' | translate}}">
  <ion-nav-bar>
    <ion-nav-back-button>{{'BACK' | translate}}</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="speech">
      <h2>{{'MAKING_PROGRESS' | translate}}</h2>
      <p>{{'MAKING_PROGRESS_INSTRUCTIONS' | translate}}</p>
      <rhino-progress progress="vm.gameProgress.getPercentComplete()"></rhino-progress>
    </div>
    <div class="actions">
      <a ui-sref="galleries">{{'BACK_TO_GAME' | translate}}</a>
      <a class="button button-clear" ui-sref="home.victory">{{'FINISHED_PLAYING' | translate}}</a>
    </div>
</ion-view>