<ion-view view-title="{{'TITLE' | translate}}">
  <ion-nav-bar class="gallery-header"></ion-nav-bar>
  <ion-content class="padding text-center">
    <h2 class="subtitle">{{'WELCOME' | translate}}</h2>
    <img class="sprite" src="img/rhino_welcome_page.png" />
    <p class="descr">{{'WELCOME_INSTRUCTIONS' | translate}}</p>
    <div class="actions">
      <a ng-show="vm.continue" class="play ng-hide" ng-click="vm.continueGame()">
        {{'CONTINUE' | translate}}
      </a>
      <a class="play" ng-click="vm.restartGame()">
        {{'START' | translate}}
      </a>
    </div>
  </ion-content>
</ion-view>