<ion-view view-title="{{'TITLE' | translate}}">
  <ion-content class="padding text-center">
    <div class="prompt">
      <h2 class="subtitle">{{'WELL_DONE' | translate}}</h2>
      <p class="descr">{{'WELL_DONE_INSTRUCTIONS' | translate}}</p>
      <div>
        <div>
          <img class="win-icon" src="img/icons/visited-gallery.png">
        </div>
        <div>
          <div>
            <p class="field">{{'TITLE_IS' | translate}}</p>
            <div class="value">{{vm.gameProgress.getTitle() | translate}}</div>
          </div>
          <div>
            <p class="field">{{'SCORE_IS' | translate}}</p>
            <div class="value">{{vm.gameProgress.points}} pts</div>
          </div>
        </div>
        <img class="sprite" src="img/rhino_victory.png" />
        <div class="actions">
          <a class="button icon-right icon ion-share button-positive" ng-click="vm.share()">{{'SHARE_SCORE' | translate}}</a>
          <a ng-click="vm.restartGame()">{{'START_OVER' | translate}}</a>
        </div>
      </div>
  </ion-content>
</ion-view>