<ion-view view-title="{{'TITLE' | translate}}">
  <ion-nav-bar class="{{vm.gallery.ShortName}}">
    <ion-nav-back-button>{{'BACK' | translate}}</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding fill-parent has-footer" style="height:100%">
    <div class="findprompt">
      <h2 class="description">{{vm.task.Description}}</h2>
      <p class="question">{{'FINDING_TASK_INSTRUCTIONS' | translate}}</p>
      <div class="actions">
        <a class="submit" ng-click="vm.submit(guess)">{{'FOUND_IT' | translate}}</a>
      </div>
    </div>
    <img class="sprite-bottom" src="img/rhino_proximity_question.png" />
  </ion-content>
  <ion-footer-bar id="task-footer" class="footer {{vm.gallery.ShortName}}">
  	<div class="row">
    	<div class="col text-left col-75 footer-title">{{vm.task.Title}}<br/>
    		<div id="subtitle">{{vm.task.Gallery}}</div>
    	</div>
    	<div class="col text-right" id="task-points">{{vm.task.Points}} pts</div>
    </div>
  </ion-footer-bar>
</ion-view>