<ion-footer-bar class="footer" id="gallery-footer" ng-controller="GameFooterCtrl as vm">
	<div ui-sref="game-progress"><div class="col text-left">{{vm.gameProgress.getTitle() | translate}}</div></div>
	<div class="col text-right">{{vm.gameProgress.points}} {{'POINTS' | translate}}</div>
</ion-footer-bar>