<ion-view view-title="{{'TITLE' | translate}}">
  <ion-nav-bar class="{{vm.gallery.ShortName}}">
    <ion-nav-back-button>{{'BACK' | translate}}</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding has-footer">
    <h2 class="question">{{vm.task.MultiChoice.Question}}</h2>
    <div class="actions" ng-repeat="guess in vm.task.MultiChoice.PossibleAnswers">
      <a ng-click="vm.submit(guess)">{{guess.Answer}}</a>
    </div>
  </ion-content>
  <ion-footer-bar id="task-footer" class="{{vm.gallery.ShortName}} footer">
    <div class="row">
      <div class="col text-left col-75 footer-title">{{vm.task.Title}}
        <br/>
        <div id="subtitle">{{vm.task.Gallery}}</div>
      </div>
      <div class="col text-right" id="task-points">{{vm.task.Points}} pts</div>
      <div>
  </ion-footer-bar>
</ion-view>