<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
 <!-- You can add "tabs-item-hide" to the class to hide the tabs -->
 <ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-item-hide">

  <!-- Welcome Tab -->
  <ion-tab title="Welcome" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/home/welcome">
    <ion-nav-view name="home-welcome"></ion-nav-view>
  </ion-tab>

  <!-- Victory Tab -->
  <ion-tab title="Victory" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/home/victory">
    <ion-nav-view name="home-victory"></ion-nav-view>
  </ion-tab>

</ion-tabs>
