.south-asia {
  background-color: #FFC00D;
  color: #FFF; }

.south-asia.bar-header > .back-button {
  color: #FFF; }

.persia {
  background-color: #AD4D2B;
  color: #FFF; }

.persia.bar-header > .back-button {
  color: #FFF; }

.himalayas {
  background-color: #AD4D2B;
  color: #FFF; }

.himalayas.bar-header > .back-button {
  color: #FFF; }

.southeast-asia {
  background-color: #552E86;
  color: #FFF; }

.southeast-asia.bar-header > .back-button {
  color: #FFF; }

.china {
  background-color: #55BA62;
  color: #FFF; }

.china.bar-header > .back-button {
  color: #FFF; }

.korea {
  background-color: #FFC00D;
  color: #FFF; }

.korea.bar-header > .back-button {
  color: #FFF; }

.japan {
  background-color: #AD4D2B;
  color: #FFF; }

.japan.bar-header > .back-button {
  color: #FFF; }

.gallery-list-item, .task-list-item {
  font-size: 1.3em;
  font-family: "Helvetica Neue";
  background: white;
  border-radius: 8px;
  margin-top: 3%;
  text-align: center;
  padding: 6%;
  border: 1px solid; }

.task-list-item {
  margin-top: 0px; }

.south-asia-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFC00D;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px; }

.gallery-list-item.south-asia, .task-list-item.south-asia {
  color: #FFC00D; }

.gallery-list-item.active.south-asia {
  background-color: #FFC00D;
  color: white; }

.gallery-list-item.south-asia:active, .task-list-item.south-asia:active {
  background-color: #ffff51; }

.persia-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #AD4D2B;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px; }

.gallery-list-item.persia, .task-list-item.persia {
  color: #AD4D2B; }

.gallery-list-item.active.persia {
  background-color: #AD4D2B;
  color: white; }

.gallery-list-item.persia:active, .task-list-item.persia:active {
  background-color: #f1916f; }

.himalayas-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #AD4D2B;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px; }

.gallery-list-item.himalayas, .task-list-item.himalayas {
  color: #AD4D2B; }

.gallery-list-item.active.himalayas {
  background-color: #AD4D2B;
  color: white; }

.gallery-list-item.himalayas:active, .task-list-item.himalayas:active {
  background-color: #f1916f; }

.southeast-asia-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #552E86;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px; }

.gallery-list-item.southeast-asia, .task-list-item.southeast-asia {
  color: #552E86; }

.gallery-list-item.active.southeast-asia {
  background-color: #552E86;
  color: white; }

.gallery-list-item.southeast-asia:active, .task-list-item.southeast-asia:active {
  background-color: #9972ca; }

.china-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #55BA62;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px; }

.gallery-list-item.china, .task-list-item.china {
  color: #55BA62; }

.gallery-list-item.active.china {
  background-color: #55BA62;
  color: white; }

.gallery-list-item.china:active, .task-list-item.china:active {
  background-color: #99fea6; }

.korea-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFC00D;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px; }

.gallery-list-item.korea, .task-list-item.korea {
  color: #FFC00D; }

.gallery-list-item.active.korea {
  background-color: #FFC00D;
  color: white; }

.gallery-list-item.korea:active, .task-list-item.korea:active {
  background-color: #ffff51; }

.japan-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #AD4D2B;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px; }

.gallery-list-item.japan, .task-list-item.japan {
  color: #AD4D2B; }

.gallery-list-item.active.japan {
  background-color: #AD4D2B;
  color: white; }

.gallery-list-item.japan:active, .task-list-item.japan:active {
  background-color: #f1916f; }
