﻿.title {
	margin: auto;
	text-align: left;
	font-family: "Helvetica Neue";
	font-weight: normal;
	padding: 8px 0 0 12px;
	color: white;
	font-size: 18px;
	width: 100%;
}

.gallery {
	font-family: "Helvetica Neue";
	font-weight: 200;
	color: white;
	padding: 0 0 8px 12px;
	width: 100%;
	font-size: 12px;			
}

.points {
	float: right;
	font-size: 24px;
	font-family: "Helvetica Neue";
	color: white;	
	font-weight: 200;
	height: 100%;
	margin: 12px;
}

.summary {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.summary > :first-child {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 108px);
}

.summary > :last-child {
	display: inline-block;
	vertical-align: top;
}

.prompt {
	margin: 8px 20px;
	text-align: center;
}

.prompt > :first-child {
	display: inline-block;
	vertical-align: top;
}

.prompt > :last-child {
	display: inline-block;
	vertical-align: top;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.question {
	font-size: 24px;
	padding: 0;
	font-family: "Helvetica Neue";
	margin: 24px auto 16px;
	font-weight: 400;
}

.actions {
	padding: 8px 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	list-style: none;
}

.actions li {
	margin: 0 auto 14px;
}

.actions a {
	font-size: 21px;
	background-color: white;
	font-family: "Helvetica Neue";
	text-decoration: none;
	padding: 13px;
	color: #555;
	border: 1px solid #CCC;
	border-radius: 8px;
	width: 216px;
	display: block;
	margin: 0 auto;
}

.south-asia {
	background-color: #FFC00D;
}

.persia {
	background-color: #AD4D2B;
}

.himilayas {
	background-color: #5AB1B3;
}

.southeast-asia {
	background-color: #552E86;
}

.china {
	background-color: #55BA62;
}

.korea {
	background-color: #FFC00D;
}

.japan {
	background-color: #AD4D2B;
}