﻿h1 {
	background-color: #A0917B;
}
.sprite {
	width: 60%;
	max-width: 240px;
	position: relative;
	left: 20%;
}
/* Media queries for small screen rhino sprite */
@media screen and (max-width: 320px) and (max-height: 533px) {
    .sprite {
	  width: 52%;
	  max-width: 240px;
	  position: absolute;
	  bottom: 0;
	  left: 4%;
	}
}

@media screen and (max-width: 320px) and (max-height: 480px) {
    .sprite {
	  width: 44%;
	  max-width: 240px;
	  position: absolute;
	  bottom: 0;
	  left: 15%;
	}
}
.actions {
	margin: 20px 20px 36px;
	text-align: center;
}

.actions a {
	text-decoration: none;
	font-family: "Helvetica Neue";
	font-size: 14px;
	padding: 7px 16px;
	margin-bottom: 8px;
	margin-left : 8px;
	margin-righht : 8px;
	float: left;
	border: 1px solid #CCC;
	border-radius: 8px;
	color: #555;
	font-weight: 300;
}

.footer {
position: absolute;
	width: 100%;
	bottom: 0;
	color: white;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 18px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	background-color: #A0917B;
}

.total-points {
	float: right;
	padding: 12px;
}

.rank {
	float: left;
	padding: 12px;
}

.title {
	font-size: 28px;
	padding: 0 32px;
	font-family: "Helvetica Neue";
	margin: 48px auto 6px;
	font-weight: 400;
}
.description {
	font-size: 15px;
	background-color: white; 
	padding: 0 32px;
	font-family: "Helvetica Neue";
	margin: 0 0 32px;
	font-weight: 300;
}
