﻿h1 {
	background-color: #A0917B;
}     

.speech {
	padding: 5px;
	text-align: center;
	font-family: Helvetica;
	width: 80%;
	margin: 0 auto;
}

.speech > h2 {
	padding: 5px;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 4px;
}

.speech > p {
	font-weight: 100;
	margin-top: 0;
}

.sprite {
	width: 87%;
	max-width: 360px;
	left: 4%;
}

/* Media queries for small screen rhino sprite */
@media screen and (max-width: 320px) and (max-height: 800px) {
    .sprite {
	  width: 66%;
	  max-width: 360px;
	  left: 4%;
	}
}

@media screen and (max-width: 320px) and (max-height: 600px) {
    .sprite {
	  width: 48%;
	  max-width: 360px;
	  left: 15%;
	}
}



.actions {
	margin: 20px 5px 96px;
	text-align: center;
}

.actions a {
	text-decoration: none;
	font-family: "Helvetica Neue";
	font-size: 14px;
	padding: 7px 16px;
	margin-bottom: 8px;
	border: 1px solid #CCC;
	border-radius: 8px;
	color: #555;
	font-weight: 300;
}

.footer {
position: fixed;
	width: 100%;
	bottom: 0;
	color: white;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 18px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	background-color: #A0917B;
}

.total-points {
	float: right;
	padding: 12px;
}

.rank {
	float: left;
	padding: 12px;
}