﻿.title {
	margin: auto;
	text-align: left;
	font-family: "Helvetica Neue";
	font-weight: normal;
	padding: 8px 0 0 12px;
	color: white;
	font-size: 18px;
	width: 100%;
}

.gallery {
	font-family: "Helvetica Neue";
	font-weight: 200;
	color: white;
	padding: 0 0 8px 12px;
	width: 100%;
	font-size: 12px;			
}

.points {
	float: right;
	font-size: 24px;
	font-family: "Helvetica Neue";
	color: white;	
	font-weight: 200;
	height: 100%;
	margin: 12px;
}

.summary {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.summary > :first-child {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 108px);
}

.summary > :last-child {
	display: inline-block;
	vertical-align: top;
}

.prompt {
	margin: 8px 20px;
	text-align: center;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.sprite {
	width: 92%;
	max-width: 360px;
	position: absolute;
	bottom: 0;
	left: 4%;
}

/* Media queries for small screen rhino sprite */
@media screen and (max-width: 320px) and (max-height: 800px) {
    .sprite {
	  width: 83%;
	  max-width: 360px;
	  position: absolute;
	  bottom: 0;
	  left: 4%;
	}
}

@media screen and (max-width: 320px) and (max-height: 600px) {
    .sprite {
	  width: 68%;
	  max-width: 360px;
	  position: absolute;
	  bottom: 0;
	  left: 15%;
	}
}


.question {
	font-size: 15px;
	background-color: white; 
	padding: 0 12px;
	font-family: "Helvetica Neue";
	margin: 0 0 32px;
	font-weight: 300;
}

.description {
	font-size: 28px;
	padding: 0;
	font-family: "Helvetica Neue";
	margin: 16px auto 6px;
	font-weight: 400;
}

.actions {
	padding: 8px 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.submit {
	font-size: 21px;
	background-color: white;
	font-family: "Helvetica Neue";
	text-decoration: none;
	padding: 13px 64px;
	color: #555;
	border: 1px solid #CCC;
	border-radius: 8px;
}

.south-asia {
	background-color: #FFC00D;
}

.persia {
	background-color: #AD4D2B;
}

.himilayas {
	background-color: #5AB1B3;
}

.southeast-asia {
	background-color: #552E86;
}

.china {
	background-color: #55BA62;
}

.korea {
	background-color: #FFC00D;
}

.japan {
	background-color: #AD4D2B;
}
