﻿body {
	margin: 0;
}

h1 {
	margin: auto;
	text-align: center;
	font-family: Helvetica;
	font-weight: 100;
	padding: 22px 0 6px;
	color: white;
	font-size: 18px;
}

.android h1 {
	padding: 32px 0 8px;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
	padding: 27px 32px 9px 16px;
	color: white;
	display: block;
}

.android .back {
	padding: 36px 32px 12px 16px;
}

.back > div {
	width: 11px;
	height: 11px;
	border: 2px solid white;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-width: 0 0 2px 2px;
}