.speech {
	padding: 2%;
	text-align: center;
	font-family: Helvetica;
	width: 80%;
	margin: 0 auto;
}

.speech h2 {
	padding: 4%;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 4px;
}

.speech p {
	font-weight: 100;
	margin-top: 0;
}

.sprite {
	width: 60%;
	height:60%;
	max-width: 240px;
}

.fill-parent {
	height:100%;
}

.fill-parent > div {
	height:100%;
}

.sprite-bottom {
	width: 92%;
	max-width: 360px;
	position: absolute;
	bottom: 30px;
	z-index: -99;
}

.actions {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	list-style: none;
	text-align: center;
}

.actions a, a.actions {
	text-decoration: none;
	font-family: "Helvetica Neue";
	font-size: 1.25em;
	padding: 5% 20%;
	margin: 0 auto 14px;
	border: 1px solid #CCC;
	border-radius: 8px;
	color: #555;
	font-weight: 300;
    width: 80%;
	display: block;
}

.actions-bottom {
	position: relative;
	top: 6%;
}

.actions a:active, a.actions:active {
	background-color: #EEE;
}

.findprompt {
	margin: 3% 4%;
	text-align: center;
}

.description {
	font-size: 28px;
	padding: 0;
	font-family: "Helvetica Neue";
	margin: 4% auto 3%;
	font-weight: 400;
}

.question {
	font-size: 1.75em;
	padding: 0;
	font-family: "Helvetica Neue";
	margin: 8% auto 6%;
	font-weight: 300;
	text-align: center;
}

.submit {
	font-size: 21px;
	background-color: white;
	font-family: "Helvetica Neue";
	text-decoration: none;
	padding: 13px 64px;
	color: #555;
	border: 1px solid #CCC;
	border-radius: 8px;
}
            
.descr {
	font-family: Helvetica;
	font-weight: 100;
	text-align: center;
	font-size: 1em;
}

.instructions {
	font-family: Helvetica;
	font-weight: 115;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
}

.subtitle {
	font-weight: normal;
	font-size: 2em;
	margin: 0 auto;
	width: 80%;
	font-family: Helvetica;
	text-align: center;
}

a.play {
	text-decoration: none;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 1em;
	padding: 1% 8%;
	margin-top:2%;
	width:40%;
	background-color: #1EB53A;
	border-radius: 18px;
}

a.play:active {
	background-color: #0F5A1D;
}

.dim{
	opacity:.4;
}

.gray{
	color: #A8A8A8;
}

.footer {
	position: fixed;
	bottom: 0;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 18px;
	color: white;
	width: 100%;
}

/** Footers */
#subtitle {
	font-size: 12px;
}
.footer-title {
	font-size: 15px;
	margin-top: -5px !important;
}
#task-footer {
	height: auto;
	padding-top: 5px;
}
#task-points {
	padding-top: 8px;
}
#gallery-footer {
	height: 40px;
	background-color: #B8B8B8;
}

.bar.gallery-header {
	background-color: #B8B8B8 !important;
	color: white;
}

.value {
	font-size: 20px;
	padding: 0 32px;
	font-family: "Helvetica Neue";
	margin: 0 auto 6px;
	font-weight: 300;
}
.field {
	font-size: 15px;
	padding: 0 32px;
	font-family: "Helvetica Neue";
	margin: 0 auto 6px;
	font-weight: 300;
}

.win-icon {	
	padding: 0 32px;
	float: left;
	height : 40px;
	width: auto;
}

#background {
	display: none;
}

#selfie {
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	opacity: 0.8;
}

.share-image{
	position:absolute;
	bottom:5%;
	right:5%;
}

.frame{
	margin:0 auto;
	margin-top: 10px;
}

#coverparent{
	position:relative;
}
#cover{
	background-color: white;
	z-index: 1;
	height: 80%;
	width: 100%;
	position:absolute;
	box-sizing : border-box;
	opacity: 0.7;
}
#coverable{
	z-index: 0;
}
