﻿h1 {
	background-color: #A0917B;
}     
.hidden {
display: none;
}


.speech {
	padding: 5px;
	text-align: center;
	font-family: Helvetica;
	width: 80%;
	margin: 0 auto;
}

.speech > h2 {
	padding: 5px;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 4px;
}

.speech > p {
	font-weight: 100;
	margin-top: 0;
}

.sprite {
	width: 64%;
	max-width: 240px;
	position: relative;
	left: 18%;
}
/* Media queries for small screen rhino sprite */
@media screen and (max-width: 320px) and (max-height: 533px) {
    .sprite {
	  width: 52%;
	  max-width: 240px;
	  position: absolute;
	  bottom: 0;
	  left: 4%;
	}
}

@media screen and (max-width: 320px) and (max-height: 480px) {
    .sprite {
	  width: 44%;
	  max-width: 240px;
	  position: absolute;
	  bottom: 0;
	  left: 15%;
	}
}
.actions {
	padding: 8px 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	list-style: none;
}

.actions li {
	margin: 0 auto 14px;
}

.actions a {
	font-size: 21px;
	background-color: white;
	font-family: "Helvetica Neue";
	text-decoration: none;
	padding: 13px;
	color: #555;
	font-weight: 300;
	border: 1px solid #CCC;
	border-radius: 8px;
	width: 216px;
	display: block;
	margin: 0 auto;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	color: white;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 18px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	background-color: #A0917B;
}

.total-points {
	float: right;
	padding: 12px;
}

.rank {
	float: left;
	padding: 12px;
}