﻿h1 {
	background-color: #A0917B;
}     

.sprite {
	width: 60%;
	max-width: 240px;
	position: relative;
	left: 20%;
}

.title {
	font-size: 28px;
	padding: 0 32px;
	font-family: "Helvetica Neue";
	margin: 48px auto 6px;
	font-weight: 400;
}
.description {
	font-size: 15px;
	background-color: white; 
	padding: 0 32px;
	font-family: "Helvetica Neue";
	margin: 0 0 32px;
	font-weight: 300;
}
.value{
	font-size: 20px;
	padding: 0 32px;
	font-family: "Helvetica Neue";
	margin: 0 auto 6px;
	font-weight: 300;
}
.field{
	font-size: 15px;
	padding: 0 32px;
	font-family: "Helvetica Neue";
	margin: 0 auto 6px;
	font-weight: 300;
}
.win-icon
{	
	padding: 0 32px;
	float: left;
	height : 40px;
	width: auto;
}


.actions {
	margin: 20px 20px 36px;
	text-align: center;
}

.actions a {
	text-decoration: none;
	font-family: "Helvetica Neue";
	font-size: 14px;
	padding: 7px 16px;
	margin-bottom: 8px;
	border: 1px solid #CCC;
	border-radius: 8px;
	color: #555;
	font-weight: 300;
}

.total-points {
	float: right;
	padding: 12px;
}