﻿h1 {
	background-color: #A0917B;
}     
            
.descr {
	padding: 5px;
	margin: auto;
	font-family: Helvetica;
	font-weight: 100;
	text-align: center;
	width: 80%;
	font-size: 16px;
}

.subtitle {
	font-weight: normal;
	font-size: 36px;
	margin: 24px auto 0;
	width: 50%;
	padding: 5px;
	font-family: Helvetica;
	text-align: center;
}
            
.sprite {
	margin: 0 auto;
	display: block;
	height: 172px;
}

.actions {
	text-align: center;
	margin-top: 22px;
}

.actions a {
	text-decoration: none;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 16px;
	padding: 8px 49px;
	background-color: #1EB53A;
	border-radius: 18px;
}